<form action="https://docs.google.com/forms/d/e/1FAIpQLSf4SmTTRbDsTJjmh2gpoO3de6j3mgqACB8rxXaoIDhUkagk0A/formResponse" target="hidden_iframe" method="POST" id="mG61Hd" class="contactform" onsubmit="submitted=true;">
    <input type="text" name="entry.2005620554" placeholder="Your name">
    <input type="email" name="entry.1045781291" placeholder="Your email">
    <textarea name="entry.839337160" style="height: 48px;" placeholder="Your comment"></textarea>
    <div class="g-recaptcha" data-sitekey="6LdEK2oUAAAAAOxdBYJoDbtiYlcoWi7OaSG65o84"></div>
    <input id="sendbutton" type="submit" value="Send"/>
</form>
