<footer class="site-footer">

  <div class="wrapper">



    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
            <li>5 Broadway<br/>
              Saugus, MA 01906<br/>
              Email: <a href="mailto:info@microsearch.net">info@microsearch.net</a><br/>
              Phone: 1-800-895-0212<br/>
              Fax US: (781) 231-9996</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Social Links</h2>
        <ul class="social-media-list">

          <li><a href="https://twitter.com/Microsearch_">Follow us on Twitter</a></li>
          <li><a href="https://www.facebook.com/">Like us on Facebook</a></li>

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>


        {% include ios-button.html %}

      </div>
    </div>

  </div>

</footer>
<!--Start of Zendesk Chat Script-->
<script async type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?4eZeAemdy3UZ9Tqqxb3XjMgaCfWLwRew";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
