/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  height: 48px;
  position: fixed;
  background: #fff;
  opacity: .95;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 5px #ddd;

  // Positioning context for the mobile navigation icon
  //position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-title img {
  width: 200px;
  padding: 4px 0;
}

.site-nav {
  float: right;
  margin-top: 10px;
  @include media-query($on-palm) {
      margin-top: 0px;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-size: 20px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

.sitemenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sitemenu li {
  display: block;
  float: left;
  padding: 0 0 8px $spacing-unit;
  margin: 0;
  height: 30px;
  border: solid 1px transparent;
}
.sitemenu ul {
  padding-top: 10px;
}
.sitemenu ul li {
  float: none;
  padding: 15px 10px 10px 10px;
  display: block;
  border-bottom: solid 1px $grey-color-light;
  margin: 0;

@include media-query($on-palm) {
  height: auto;;
}

}

.sitemenu li ul {
  display: none;
  padding: 0;
  margin: 9px 0 0 0;
  background: none;
}


.sitemenu li:hover ul {
  display: block;
  background: #fff;
  position: absolute;
  border: solid 1px $grey-color-light;
  border-top: none;
  line-height: normal;
}

.sitemenu li:hover ul ul {
  list-style: none;
  border: solid 3px red;
  display: none;
  font-size: 12px;
}

.sitemenu li.active {
    font-weight: bold;
  }

  .sitemenu li.active ul li {
      font-weight: normal;
    }

  a:hover {
    color: $brand-color;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 8px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
  text-align: right;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 48px 0 $spacing-unit 0;
  background: rgba(237,237,237,1);
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 16%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(16%, rgba(246,246,246,1)), color-stop(44%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 16%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 16%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 16%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 16%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/* Sidebar */
.column {
	float: left;
  margin-top: $spacing-unit;
}

#lcolumn {
	width: -webkit-calc(20% - #{$spacing-unit});
  padding: $spacing-unit;
  text-align: right;

@include media-query($on-palm) {
  width: -webkit-calc(100% - #{$spacing-unit});
  text-align: left;
}

}

#rcolumn_landing {
	width: 22%;
  padding: $spacing-unit 0;
  text-align: left;
  float: right;

@include media-query($on-palm) {
  width: -webkit-calc(100% - #{$spacing-unit} * 2);
  text-align: left;
  float: none;
}

}

#lcolumn ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#lcolumn ul li {
  padding: 10px 0;
}

#lcolumn h2 {
  font-style: italic;
  color: #888;
}

#rcolumn_landing ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#rcolumn_landing ul li {
  padding: 10px 0;
}

#rcolumn_landing h2 {
  font-style: italic;
  color: #888;
  border-bottom: solid 1px #e8e8e8;
}

.highlight_box {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.2em;
  display: block;
  padding: 10px;
  background: $brand-color;
  margin: 20px 0;
  border-radius: 5px;
}

.highlight_box a {
  color: #fff;
  text-decoration: underline;
}

.highlight_box a:hover {
  text-decoration: none;
}

#rcolumn {
	width: -webkit-calc(75% - #{$spacing-unit} - 1px);
  padding: $spacing-unit;
  border-left: solid 1px $grey-color-light;

  @include media-query($on-palm) {
    width: -webkit-calc(100% - #{$spacing-unit});
    border-left: none;
  }

}

#lcolumn_landing {
	width: -webkit-calc(75% - #{$spacing-unit} - 1px);
  padding: 0 $spacing-unit;
  border-right: solid 1px $grey-color-light;
  float: left;

  @include media-query($on-palm) {
    width: -webkit-calc(100% - #{$spacing-unit} * 2);
    border-right: none;
    float: none;
  }

}

/* Homepage and Landing Pages */


.homecolumn {
  width: -webkit-calc(33% - #{$spacing-unit});
  float: left;
  padding: 0 $spacing-unit 0 0;

  @include media-query($on-palm) {
    width: 100%;
    float: none;
  }

}

.homecolumn h2 {
  border-bottom: solid 1px $grey-color-light;
  color: $brand-color;
}

.homecolumn p {
  margin: $spacing-unit 0;
  color: $grey-color;
}

.homecolumn a:hover {
  text-decoration: none;
}
.clear {
  clear: both;
}
#hometext {
  padding: $spacing-unit;
  margin-top: $spacing-unit;
  background: #efefef;
  color: #555;
  border-top: 1px solid $brand-color;

}

#clientbox h2 {
  color: $brand-color;
  border-bottom: solid 1px $grey-color-light;
}

#contactbox h2 {
  color: $brand-color;
  border-bottom: solid 1px $grey-color-light;
}

/* Content pages */
.post-title {
  border-bottom: solid 1px $brand-color;
  color: $brand-color;
}

.pagebox {
  border-bottom: solid 1px $grey-color-light;
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.pagebox h2 {
  margin: 0;
}

.pagebox h3 {
  color: $grey-color;
}

.pagebox img {
  float: left;
  margin: 0 $spacing-unit 0 0;
  width: 350px;
}

.pagebox a {
  color: inherit;
}

.pagebox a:hover {
  text-decoration: none;
}

.pagebox p a {
  text-decoration: underline;
  font-weight: bold;
}

/* Landing pages */

#homebanner {
  background: url("../images/office2.png") bottom no-repeat;
  background-size: cover;
  margin-bottom: $spacing-unit;
}


#conversionbanner {
  background: url("../images/vids-large.jpg") bottom no-repeat;
  background-size: cover;
}

#searchbanner {
  background: url("../images/search_lg.jpg") bottom no-repeat;
  background-size: cover;
}

#seobanner {
  background: url("../images/seo_lg.png") bottom no-repeat;
  background-size: cover;
}

#educationbanner {
  background: url("../images/classroom.png") center no-repeat;
  background-size: cover;
}

#mobilebanner {
  background: url("../images/mobile.jpeg") center no-repeat;
  background-size: cover;
}

#educationbanner.landingbanner h1 {
  padding: 20px 0 0 0;
}

#clippingbanner {
  background: url("../images/share.jpg") bottom no-repeat;
  background-size: cover;
}

#awsbanner {
  background: url("../images/cloud.jpg") bottom no-repeat;
  background-size: cover;
}

.landingbanner {
  width: 100%;
  height: 360px;
  background-size: cover;

@include media-query($on-palm) {
  width: 100%;
  padding: 0;
}

}

.landingbanner h1 {
  padding: 120px 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 8px #000000;

  @include media-query($on-palm) {
    padding: 5%;
    font-size: 40px;
    margin:0;
  }

}

.landingbanner h2 {
  color: $grey-color-light;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 10px #000;

  @include media-query($on-palm) {
    padding: 5%;
    font-size: 26px;
    margin:0;
  }

}

.landingcolumn {
  width: 100%;
  padding: 0 $spacing-unit $spacing-unit 0;
}

.landingcolumn img {
  width: 363px;
  float: left;
  padding: 0 $spacing-unit $spacing-unit 0;
  margin-top: 20px;
}

.landingcolumn img.mobileimg {
  width: 220px;
}

.middle img {

}

.middle h2 {
}

.landingcolumn h2 {
  border-bottom: solid 1px $grey-color-light;
  color: $brand-color;
  clear: both;
  margin-bottom: 0px;
}

.landingcolumn li {
  margin-left: 20px;
  color: $grey-color;
}
.landingcolumn p {
  margin: $spacing-unit 0;
  color: $grey-color;
}

.landingcolumn a:hover {
  text-decoration: none;
}

.contactform {
  padding: $spacing-unit;
  background: $grey-color-dark;
  width: 100%;
  border: solid 1px #fff;
  border-radius: 10px;
  @include media-query($on-palm) {
    width: -webkit-calc(100% - #{$spacing-unit});
  }
}

#contactbox input,
#contactbox textarea {
  height: 22px;
  padding: 10px;
  border: solid 1px $grey-color-light;
  background: #efefef;
  font-size: 20px;
  border-radius: 10px;
  display: block;
  margin: 0 0 15px 0;
  width: -webkit-calc(100% - #{$spacing-unit});
}

#contactbox textarea {
  height: 80px;
}

#contactbox input#sendbutton {
  height: 44px;
  width: 100px;
  border:none;
  color: #fff;
  border: solid 1px $grey-color;
  background: $brand-color;
  margin: 0 auto;
}

.contactcolumn {
  float: left;
  padding: $spacing-unit;
  @include media-query($on-palm) {
    padding: 5px;

  }
}

#ccol1 {
  width: 50%;
  @include media-query($on-palm) {
    width: -webkit-calc(100% - #{$spacing-unit});
    text-align: left;
  }
}

#ccol2 {
  width: 35%;
  @include media-query($on-palm) {
    width: -webkit-calc(100% - #{$spacing-unit});
    text-align: left;
  }
}

/* Demos pages */

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 60%;
  height: 60%;
  padding: 16px;
  border: solid 5px $brand-color;
  overflow: scroll;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
.closelink {
  position: absolute;;
  top: 25%;
  left: 88%;
  display: block;
  color: #fff;
  padding: 16px;
  background: $brand-color;
}
.closelink:hover {
  color: #fff;
}

.clickhere {
  background: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.clickhere a:hover {
  color: #fff;
}
