<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="home">
          <div id="homebanner" class="landingbanner">
              <h1>{{ page.bannertext1 }}</h1>
              <h2>{{ page.bannertext2 }}</h2>
          </div>
          <div class="wrapper">
              <div class="homecolumn" id="homecol1"><a href="{% for section in page.homecol1link %}{{ section | textilize }}{% endfor %}">
                  <h2>{{ page.homecol1head }}</h2>
                  <img src="{{site.baseurl}}/images/{{ page.homecol1img }}" />
                  <p>{{ page.homecol1text }}</p></a>
              </div>

              <div class="homecolumn" id="homecol2"><a href="{{ page.homecol2link }}">
                  <h2>{{ page.homecol2head }}</h2>
                  <img src="{{site.baseurl}}/images/{{ page.homecol2img }}" />
                  <p>{{ page.homecol2text }}</p></a>
              </div>

              <div class="homecolumn" id="homecol3"><a href="{{ page.homecol3link }}">
                  <h2>{{ page.homecol3head }}</h2>
                  <img src="{{site.baseurl}}/images/{{ page.homecol3img }}" />
                  <p>{{ page.homecol3text }}</p></a>
              </div>

              <div class="homecolumn" id="homecol4"><a href="{{ page.homecol4link }}">
                  <h2>{{ page.homecol4head }}</h2>
                  <img src="{{site.baseurl}}/images/{{ page.homecol4img }}" />
                  <p>{{ page.homecol4text }}</p></a>
              </div>

              <div class="homecolumn" id="homecol5"><a href="{{ page.homecol5link }}">
                  <h2>{{ page.homecol5head }}</h2>
                  <img src="{{site.baseurl}}/images/{{ page.homecol5img }}" />
                  <p>{{ page.homecol5text }}</p></a>
              </div>

              <div class="homecolumn" id="homecol6"><a href="{{ page.homecol6link }}">
                  <h2>{{ page.homecol6head }}</h2>
                  <img src="{{site.baseurl}}/images/{{ page.homecol6img }}" />
                  <p>{{ page.homecol6text }}</p></a>
              </div>

              <div class="clear" id="clientbox">
                <h2>Our Clients</h2>
                <img src="{{site.baseurl}}/images/{{ page.clientimg }}" />
              </div>

              <div class="clear" id="hometext">
                <h2>{{ page.abouthead }}</h2>

                              {{ page.abouttext }}


              </div>
    </main>

    {% include footer.html %}

</body>

</html>
