---
layout: landing
---

<div class="landing">
    <div id="{{ page.id }}banner" class="landingbanner">
        <h1>{{ page.bannertext}}</h1>
        <h2>{{ page.bannertext2 }}</h2>
    </div>
    <div class="wrapper">
      <div class="column_landing" id="rcolumn_landing">

        <h2>Highlights</h2>
        <p class="highlight_box">{{ page.highlight1 }}</p>
        <p class="highlight_box">{{ page.highlight2 }}</p>
        <p class="highlight_box">{{ page.highlight3 }}</p>
        <p class="highlight_box">{{ page.highlight4 }}</p>
      </div>
      <div class="column" id="lcolumn_landing">

        <div class="landingcolumn" id="{{ page.id }}col1">
            <h2>{{ page.col1head }}</h2>
                  <img src="{{site.baseurl}}/images/{{ page.col1img }}" />
            <p>{{ page.col1text }}</p>
        </div>

        <div class="landingcolumn middle" id="{{ page.id }}col2">
            <h2>{{ page.col2head }}</h2>
                  <img src="{{site.baseurl}}/images/{{ page.col2img }}" />
            <p>{{ page.col2text }}</p>
        </div>

        <div class="landingcolumn" id="{{ page.id }}col3">
            <h2>{{ page.col3head }}</h2>
                  <img src="{{site.baseurl}}/images/{{ page.col3img }}" />
            <p>{{ page.col3text }}</p>
        </div>

        <div class="clear" id="hometext">
          <div class="clear" id="contactbox">
            <h2>Get in Touch. Get a Free Demo.</h2>

            <div class="contactcolumn" id="ccol1">
            <p>
              We are so convinced that you'll be amazed by MultimediaSearch, that we'd love to give you a personalized demo, free. Whether you have documents, videos, or both, we will index texts and transcripts, and publish them to a secure website where you can test out the functionality. Just fill out the form to the right to get the conversation started.
            </p>

            <p>
              <a href="mailto:info@microsearch.net">info@microsearch.net</a> | 1-800-895-0212
            </p></div>
            <div class="contactcolumn" id="ccol2">

              <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='https://microsearch.net/thankyou/';}"></iframe>

            <form action="https://docs.google.com/forms/d/e/1FAIpQLSf4SmTTRbDsTJjmh2gpoO3de6j3mgqACB8rxXaoIDhUkagk0A/formResponse" target="hidden_iframe" method="POST" id="mG61Hd" class="contactform" onsubmit="submitted=true;">
                <input type="text" name="entry.2005620554" placeholder="Your name">
                <input type="email" name="entry.1045781291" placeholder="Your email">
                <textarea name="entry.839337160" style="height: 48px;" placeholder="Your comment"></textarea>
                <input id="sendbutton" type="submit" value="Send"/>

            </form>

          </div>
            <div class="clear">

            </div>
          </div>
        </div>


         </div>

    </div>
